@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 30px;
    color: #222;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
}

.navbar a:hover,
.navbar a:active {
    color: #38d39f;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;
}

.home-content {
    max-width: 530px;
}

.home-content h1 {
    font-size: 50px;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 40px;
    color: #38d39f;
}

.home-content p {
    font-size: 16px;
    margin: 15px 0 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #38d39f;
    border: 2px solid #38d39f;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #38d39f;
}

.home-img {
    position: relative;
    right: -4%;
    width: 300px;
    height: 300px;
    top: 5px;
    transform: rotate(45deg);
}

.home-img img {
    position: absolute;
    top: 10px;
    left: -250px;
    max-width: 750px;
    transform: rotate(-45deg);
}
