<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo.png" type="image/png">
    <title>Retailer Dashboard</title>
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link rel="stylesheet" href="/static/css/Dash.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">TECHNESS</a>
        <nav class="navbar">
            <a href="/sales_prediction" class="active">Sales Predictions</a>
            <a href="/inventory">Inventory</a>
            <a href="/billing">Create Bills</a>
            <a href="profit.html">Today's sales</a>
            <a href="/dealers">Dealers list</a>
            <a href="/login" class="logout-button">Logout</a>
        </nav>
    </header>
    <section class="home">
        <div class="home-content">
            <h3>Welcome to Techness</h3>
            <p>Your ultimate solution for tackling the challenges faced by retailers in managing stock inventory, placing orders, and enhancing customer satisfaction. We understand the struggles that come with inventory management, where stockouts and overstocking can cost you valuable sales and customers. That's why we've designed Techness to revolutionize your retail business and ensure seamless operations.</p>
            <a href="#" class="btn">Explore</a>
        </div>
        <div class="home-img">
            <img src="/static/images/19368 copy.jpg">
        </div>
    </section>
    <script>
        document.querySelector('.logout-button').addEventListener('click', function(event) {
            event.preventDefault();
            // Logic to handle logout can be added here
            window.location.href = '/login';
        });
    </script>
</body>
</html>
