<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
	<link rel="icon" href="/static/images/logo.png" type="image/png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/LandS.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<script>

function login() {
    // Get form input values
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;

    var data = {
        username: username,
        password: password,
		// email: email
    };

    // Send AJAX request to Flask app
    $.ajax({
        type: "POST",
        url: "/login", // Change this to the appropriate route in app.py
        data: data,
        success: function(response) {
            // Process the response from the server
            if (response.redirect) {
                window.location.href = response.redirect; // Redirect to dashboard or other page
            } else {
                alert("Login failed: " + response.message);
            }
        }
    });
}

	</script>
    <img class="wave" src="/static/images/wave.png">
	<div class="container">
		<div class="img">
			<!-- <img src="static\images\bg.svg"> -->
			<img src="/static/images/bg.svg">
		</div>
		<div class="login-content">
			<form action="index.html">
				<img src="/static/images/avatar.svg">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<input type="text" class="input" id="username" placeholder="Username">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<input type="password" class="input" id="password" placeholder="Password">
            	   </div>
            	</div>
			  
			  
						<button type="button" class="btn" onclick="login()">Login</button>
                        <button type="button" class="btn" onclick="loginWithGoogle()">Sign in with Google</button>
						<p>New user? <a href="{{ url_for('signup_page') }}"> Sign Up</a></p>


            </form>
        </div>
    </div>
</body>
</html>
