<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    <style>
        /* Your CSS styles here */
        /* ... */
    </style>
</head>
<body>
    <h1>Product List</h1>
    <table border="1">
        <tr>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Present Count</th>
            <th>Minimum Count</th>
            <th>Dealer</th>
            <th>Contact</th>
            <th>Order Count</th>
            <th>Price</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product[0] }}</td>
            <td>{{ product[1] }}</td>
            <td>{{ product[2] }}</td>
            <td>{{ product[3] }}</td>
            <td>{{ product[4] }}</td>
            <td>{{ product[5] }}</td>
            <td>{{ product[6] }}</td>
            <td>{{ product[8] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
