<!DOCTYPE html>
<html>
<head>
    <title>Techness Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form id="signupForm">
        <label for="username">Username:</label>
        <input type="text" id="username" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" required><br>

        <button type="button" onclick="signup()">Sign Up</button>
    </form>
    <p>Already have an account? <a href="index.html">Login here</a></p>

    <script src="script.js"></script>
</body>
</html>

