*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
body {
    width: 100%;
    min-height: 100vh;
    background: white;
}

.wave{
	position: fixed;
	bottom: 0;
	right: 0;
	height: 100%;
	z-index: -1;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    color: #38d39f;
}
nav li{
    display: inline-block;
    margin: 10px 20px;
    font-weight: 600;
}

.main{
    width: 100%;
    display: flex;
}

.container{
    width: 50%;
    margin-top: 10%;
    margin-left: 5%;
    color: black; 
}

.container p{
    font-size: 20px;
    margin-bottom: 5%;
    font-family: 'Poppins', sans-serif;
}

.create-bills-button{
    padding: 15px 30px;
    background: #38d39f;
    color: white;
    font-size: 17px;
    border-radius: 10px;

}

.btn{
    color: white;
    font-size: 20px;
}

.image{
    margin: 50px 25px;
}