<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
    <link rel="icon" href="/static/images/logo.png" type="image/png">
</head>
<body>
    Bill was created successfully
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/thank.css"> <!-- Link to your custom CSS file -->
    <title>Thank You</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">TECHNESS</a>
        <nav class="navbar">
            <a href="/dashboard">Dashboard</a>
            <a href="/billing">Billing</a>
            <a href="/dealers">Dealers list</a>
            <a href="/inventory">Inventory</a>
        </nav>
    </header>

    <div class="home">
        <div class="home-content">
            <h1>Thank You</h1>
            <h3>Your Bill has been created.</h3>
            <p>We appreciate it!</p>
            <a href="/dashboard" class="btn">Back to Dashboard</a>
        </div>
        <div class="home-img">
            <!-- <img src="path-to-your-image.jpg" alt="Thank You Image"> -->
        </div>
    </div>

    <!-- <script src="your-js-script.js"></script> Link to your JavaScript file if needed -->
</body>
</html>
